body{
    padding-left: 11em;
    background: #76b852;
    
    }
h1{
    color: #ffffff;
    text-transform: capitalize;
    font-family: fantasy;
    text-align: center;
} 
p{
    color: #0000cd;
    margin: 0 auto 100px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    width: 300px;
    background: #00ffff;
}
.form1,.form2 {
        position: relative;
        top: 50px;
        z-index: 100;
        background: #ff6347;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;      
}
.form1 .message,.form2 .message {
  color: #000000;
  font-size: 12px;
  border: none;
  background: #ff6347;
  position: relative;
  border-style: none; 
}
.form1 .message,.form2 .message a{
        color: #0000ff;
}
.form1,.form2 .input {
                position: relative;
                color: #000000;
                z-index: 20;
                text-align: center;
                border: none;
                background: #ff1493;
                border-style: none;
                font-size: 14px;
                padding: 40px;
                border-width: none;
                width: none;


}

